body{
  > .alert{
    position: absolute;
    z-index: 1000;
    right: 15px;
  }
}

.main-header{
  .logo{
    img{
      width:auto;
      height:36px;
    }
  }
}

.content-wrapper, .right-side{
  .table.table-bordered{
    border-color: #ddd !important;
    th, td{
      border-color: #ddd !important;
      background: #fafafa;
    }
  }
}

.detail-view, .upload-preview{
  img{
    display: block;
    width: 240px;
    height: auto;
    max-height: 320px;
  }
}
.grid-view{
  .panel-heading{
    min-height: 41px;
  }

  td{
    img{
      width:80px;
    }
  }
}
